{% extends 'layout.html.twig' %}

{% block title %}Les acteurs{% endblock %}

{% block body %}

    <h1 class="m-5">Les acteurs de la troupe</h1>

    <div class="mt-5 mb-5 container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-12 col-xs-1">
                <div class="justify-content-around d-flex flex-wrap">
                    {% for actor in actors %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ actor.name }}</h5>
{#                                <img src="/assets/images/{{ actor.picture }}" class="card-img-top">#}
                                <p>{{ actor.picture }}</p>
                                <p class="card-text">Son objet de scène : {{ actor.trick }}
                                    {% for event in actor.events %}
                                        <p>{{ event.title }}</p>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
