{% extends 'base.html.twig' %}

{% block title %}Pub{% endblock %}

{% block body %}
    <h1>Pub</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pub.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pub.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ pub.content }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ pub.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pub_index') }}">back to list</a>

    <a href="{{ path('pub_edit', {'id': pub.id}) }}">edit</a>

    {{ include('admin_pub/_delete_form.html.twig') }}
{% endblock %}
